<?xml version="1.0" encoding="UTF-8"?>

<!-- Servlet Stimulsoft -->
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns="http://java.sun.com/xml/ns/javaee" 
        xmlns:web="http://java.sun.com/xml/ns/javaee/webapp_2_5.xsd" 
        xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" 
        id="WebApp_ID" version="2.5">
          
    <display-name>stimulsoft_webdesigner</display-name>
        <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>StimulsoftResource</servlet-name>
        <servlet-class>com.stimulsoft.web.servlet.StiWebResourceServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>StimulsoftResource</servlet-name>
        <url-pattern>/stimulsoft_web_resource/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>StimulsoftDesignerAction</servlet-name>
        <servlet-class>com.stimulsoft.webdesigner.servlet.StiWebDesignerActionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>StimulsoftDesignerAction</servlet-name>
        <url-pattern>/stimulsoft_webdesigner_action</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>StimulsoftAction</servlet-name>
        <servlet-class>com.stimulsoft.webviewer.servlet.StiWebViewerActionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>StimulsoftAction</servlet-name>
        <url-pattern>/stimulsoft_webviewer_action</url-pattern>
    </servlet-mapping>    
        
    <servlet>
		  <servlet-name>DemoServlet</servlet-name>
		  <servlet-class> web.DemoServlet</servlet-class>
		  <load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
	  <servlet-name>DemoServlet</servlet-name>
	  <url-pattern>/DemoService.svc/*</url-pattern>
	</servlet-mapping>
</web-app>
